* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;
}

/* header start */
header {
	width: 100%;
	position: relative;
}
header .top {
	width: 100%;
	position: relative;
	top: 0;
	background-color: #f0f0f0;
}
header .top .nav-list {
	margin: 0;
	padding: 10px 20px;
	display: flex;
	gap: 20px;
}
header .top .nav-item {
	padding: 10px 20px;
	display: block;
}
header .top .nav-link {

}
/* header fonts */
header .top .nav-link {
	font-size: 20px;
	font-weight: 400;
	line-height: 100%;
	text-decoration: none;
}
/* header end */

/* main start */
main {
	width: 1440px;
	margin: 40px auto 0 auto;
	min-height: 60vh;
}
@media(max-width: 1440px) {
	main {
		width: 1024px;
	}
}
@media(max-width: 1024px) {
	main {
		width: min(728px, 95vw);
	}
}
/* main end */

/* footer start */
footer {
	width: 100%;
	margin-top: 60px;
	padding: 40px 40px 0 40px;
	position: relative;
	background-color: #f0f0f0;
	box-shadow: 0 -4px 8px #f0f0f0;
}
footer .top {
	width: 100%;
	padding: 40px;
	display: flex;
	justify-content: space-between;
	gap: 20px;
	position: relative;
	top: 0;
}
footer .top .logo {
	padding: 20px 10px;
	border-radius: 30px;
	box-shadow: 0 0 8px #909090;
	background-color: #d0d0d0;
}
footer .top .nav-container {
	display: flex;
	gap: 40px;
}
footer .top .nav-list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
footer .top .nav-item {
	width: fit-content;
	height: fit-content;
	display: block;
}
footer .top .nav-title {

}
footer .top .nav-link {

}
footer .bottom {
	width: 100%;
	margin-top: 30px;
	padding: 20px 100px 40px 100px;
	display: flex;
	justify-content: space-between;
}
footer .bottom .copyright {
	font-size: 14px;
	font-weight: 300;
	line-height: 100%;
}
footer .bottom .sitemap {
	font-size: 14px;
	font-weight: 300;
	line-height: 100%;
}
/* footer fonts */
footer .top .logo a {
	text-decoration: none;
	color: black;
}
footer .top .logo-text {
	font-size: 24px;
	font-weight: 600;
	line-height: 100%;
	text-align: center;
}
footer .top .nav-title {
	font-size: 22px;
	font-weight: 600;
	line-height: 100%;
	text-decoration: none;
}
footer .top .nav-link {
	font-size: 18px;
	font-weight: 400;
	line-height: 100%;
	text-decoration: none;
}
footer .bottom .copyright {
	font-size: 14px;
	font-weight: 300;
	line-height: 100%;
}
footer .bottom .sitemap {
	font-size: 14px;
	font-weight: 300;
	line-height: 100%;
}
/* footer end */